<!-- <p>login works!</p> -->


<body>
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-12"></div>
            <div class="col-lg-4 col-md-3 col-sm-12">
                <div class="account mt-5 p-2 d-flex-justify-content-center">
                    <h3 class="text-center text-white">Log In</h3>
                    <div class="row mt-5">
                       <form [formGroup]="loginForm" >
                            <div class="col">
                                <div class="col-12 mt-3">
                                    <input type="text" class="form-control" id="username" placeholder="User Name"
                                        name="username" formControlName="username" aria-label="Last name" />
                                </div>
                                <div *ngIf="(this.loginForm.get('username')?.touched||this.loginForm.get('username')?.dirty)&&this.loginForm.get('username')?.errors" class="text-danger">Invalid Username</div>
        
                                <div class="col-12 mt-4">
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                                        formControlName="password" aria-label="Last name" />
                                </div>
                                <div *ngIf="(this.loginForm.get('password')?.touched||this.loginForm.get('password')?.dirty)&&this.loginForm.get('password')?.errors" class="text-danger">Invalid Password</div>
        
                                <div>
                                    <div class="d-flex justify-content-center mt-5">
                                        <button class="btn btn-primary" type="submit" (click)="login()">
                                            Sign In
                                        </button>
                                        <a class="ms-3" routerLink="/register">Register</a>
                                    </div>
                                </div>
                            </div>
                       </form>
    
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12"></div>
            </div>
        </div>
    </div>
</body>